<h1>People in spots</h1>

<table>
  <tr>
    <th><% @spotname = (Spot.find_by_spot_id(@account_spot[0])) %></th>
    <th></th>
  </tr>

<% @account_spot.each do |spot| 
@account = Account.find_by_account_id (spot.account_id )
%>
  <tr>
    <td><%= @account.email %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spot', new_spot_path %>
