<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Names</th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.first_name %> <%= profile.last_name %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
  </tr>
<% end %>
</table>

<br />