<table>
  <tr>
    <td>Utilizador</td>
  </tr>
  <tr>
    <td><%= link_to t(:profile), users_profile_index_path %></td>
  </tr>
  <tr>
    <td><%= link_to t(:disciplines), users_disciplines_path %></td>
  </tr>
  <tr>
    <td><%= link_to t(:spots), spots_path %></td>
  </tr>
</table>
