<table>
  <tr>
    <td>Utilizador</td>
  </tr>
  <tr>
    <td><%= link_to t(:profile), users_profile_index_path %></td>
  </tr>
  <tr>
    <td><%= link_to t(:disciplines), users_disciplines_path %></td>
  </tr>
  <tr>
    <td><%= link_to t(:spots), spots_path %></td>
  </tr>
</table>
<table>
  <tr>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis odio vitae neque ornare non
      bibendum lectus molestie. Vestibulum in nulla justo. Nullam lobortis aliquet ipsum a eleifend. 
      Fusce varius elit ullamcorper urna auctor mattis et suscipit sapien. Sed et dapibus tellus. 
      Duis dictum, arcu vitae suscipit feugiat, augue magna egestas arcu, eget faucibus lectus justo ut purus. 
      Nulla at risus vel tellus pellentesque ultricies ac quis lectus. Vivamus non tortor vitae nunc porttitor
      sagittis.n. Cras eget massa libero. Morbi sed purus magna. Donec quis dui dui, et auctor massa. 
      Praesent id imperdiet ligula. Proin non ultrices ligula. Phasellus molestie scelerisque imperdiet.
      Suspendisse id lorem nec odio blandit mollis sed in purus. Maecenas dignissim ultricies ante vel pretium.
      Ut sed lacus placerat elit dictum dignissim sit amet dictum nulla. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nullam a ipsum vel massa posuere interdum at et nibh. Nulla convallis massa
      in ligula accumsan vitae euismod elit cursus.
    </td>
    <td style="vertical-align:top;>
      <object style="height: 390px; width: 640px">
        <param name="movie" value="http://www.youtube.com/v/UswWNYkOXnY?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/UswWNYkOXnY?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="320" height="150">
      </object>
    </td>
  </tr>
</table>
