<table>
  <tr>
    <td><%= t(:administration) %></td>
    <td>Outros</td>
  </tr>
  <tr>
    <td><%= link_to t(:faculties), faculties_path %></td>
    <td>Perfil</td>
  </tr>
  <tr>
    <td><%= link_to t(:courses), courses_path %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= link_to t(:disciplines), disciplines_path %></td>
    <td></td>
  </tr>
</table>
<br />
<br />
<br />
