<table>
  <tr>
    <td>Utilizador</td>
  </tr>
  <tr>
    <td><%= link_to t(:profile), users_profile_index_path %></td>
  </tr>
  <tr>
    <td><%= link_to t(:disciplines), users_disciplines_path %></td>
  </tr>
  <tr>
    <td><%= link_to t(:spots), spots_path %></td>
  </tr>
</table>
<table>
  <tr>
    <td><%= link_to "Android APP", "http://code.google.com/p/studydroid/downloads/detail?name=studydroid.apk" %>
    </td>
    <td style="vertical-align:top;">
      <object style="height: 490px; width: 640px">
        <param name="movie" value="http://www.youtube.com/v/UswWNYkOXnY?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/UswWNYkOXnY?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="520" height="250">
      </object>
    </td>
  </tr>
</table>
